* {
  margin: 0;
}

.up-bar {
  width: 100%;
  height: 80px;
  background-color: #4ea0ff;
  background-image: url(/img/pattern.png);
  background-size: contain;
  background-position:top;
}

.box-logo {
  width: 200px;
  height: 50px;
  margin-left: 20px;
}

.logo-position {
 background-image: url(/img/logo.svg);
 background-size: contain;
 background-repeat: no-repeat;
 width: 100%;
 height: 100%;
}

.title {
  text-align: justify;
  margin-top: 10px;
}

.author, .date-writing {
  color: #808080;

}

.author-specific {
  color: #20a9e5;
}

.date-writing {
  font-size: 12px;
}

.tim-photo {
  margin-top: 20px;
}

.description-photo p {
  font-size: 10px;
}

.author {
  font-weight: bold;
}

.important {
  background-color: yellow;
}

.text-content {
  margin-top: 20px;
}

ul {
  margin-top: 20px;
}

.table {
  width: 1000px;
  height: auto;
  margin-top: 20px;
}

.table-title .element {
  display: inline-block;
  font-weight: bold;
 
  color: white;
}

.table-title .left {
  width: 23%;
}

.table-title .right {
  width: 50%;
}

.table-title {
  background-color: #20a9e5;
}

.table-alternative {
  background-color: #b1e5f2;
}

.table-plain {
  background-color: white;
}